*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.big-container{
   display: flex;
   flex-direction: column;
   
  }
/* inizio navbar */
.container-navbar{
    background-color:rgb(173, 216, 230);
    padding: 10px;

}
.navbar{
    display: flex;
    flex-direction: row;

    width: 1190px;
    height: 60px;

    margin-left: auto;
    margin-right: auto;

    padding: 12px;
    
    background-color: rgb(218, 165, 32);
    border: dotted;
}

.left{
    display: flex;
    width: 230px;
    background-color: rgb(218, 165, 32);
   
    
}
.centre{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: rgb(218, 165, 32);
    
}


.right{
    display: flex;
    width: 230px;
    background-color: rgb(218, 165, 32);
    justify-content: flex-end;
}

/* fine Navbar */

/* inizio prima section */
.one{
   /* container blu */

    width: 100%;
    height: 495px;

    margin-left: auto;
    margin-right: auto;
  
    background-color:rgb(0, 0, 139);
    border: dotted;
}
.pink{
    width: 900px;
    height: 390px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    background-color:rgb(238, 130, 238);
    border: dotted;
}
/* fineprima section */

/* inizio seconda section */
.two{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 600px;
  
    background-color: white;
    border: dotted;

}
.blue{
    display: flex;
    width: 715px;
    height: 490px;

    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    background-color:rgb(30, 144, 255);
    border: dotted;
}
.light-pink{
    display: flex;
    width: 465px;
    height: 490px;

    
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  
    background-color:rgb(255, 192, 203);
    border: dotted;
}
/* fine seconda section */

.trhee{
    display: flex;
    
    
    width: 100%;
    height: 600px;
  
    background-color:rgb(211, 211, 211);
    border: dotted;
    
}

#small{
    display: flex;
    width: 465px;
    height: 490px;

    
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  
    background-color:rgb(255, 192, 203);
    border: dotted;

}
#large{
    display: flex;
    width: 715px;
    height: 490px;

    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    background-color:rgb(30, 144, 255);
    border: dotted;

}
.four{
    display: flex;
    
    
    width: 100%;
    height: 600px;
  
    background-color:white;
    border: dotted;
    
}

.five{
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 995px;
  
    background-color:rgb(211, 211, 211);
    border: dotted;
    
}
.green{
    display: flex;
   
    width: 1185px;
    height: 890px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  
    background-color:green;
    border: dotted;
}


.six{
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 625px;
  
    background-color:rgb(35, 39, 42);
    border: dotted;
}

.m{
    display: flex;
   
    width: 350px;
    height: 575px;

    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  
    background-color:green;
    border: dotted;  
}

.s{
    display: flex;
   
    width: 210px;
    height: 575px;

    margin-top: 50px;
    margin-bottom: 50px;
  
    background-color:rgb(32, 178, 170);
    border: dotted;  
}

#s{
    display: flex;
   
    width: 210px;
    height: 575px;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
  
    background-color:rgb(32, 178, 170);
    border: dotted;  
}



.container-footer{
    background-color:rgb(35, 39, 42);
    padding: 10px;

}
.footer{
    display: flex;
    flex-direction: row;

    width: 1190px;
    height: 60px;

    margin-left: auto;
    margin-right: auto;
    gap: 92%;
    padding-top: 12px;
    padding-bottom: 12px;
    
    background-color:rgb(127, 255, 212);
    border: dotted;
}

.left2{
    display: flex;
    width: 75px;
    height: 30px;
    background-color: rgb(255, 182, 193);
    align-items: center;
    justify-content: flex-start;
    border: dotted;
    
}

.right2{
    display: flex;
    width: 75px;
    height: 30px;
    background-color: rgb(255, 182, 193);
    border: dotted;
    justify-content: flex-end;
    align-items: center;
}